<div class="container">
  <div class="card my-3">

    <div class="card-header">Your Cart</div>

    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <% unless @line_items.exists? %>
          <h3>Your shopping cart is empty!</h3>
        <% else %>
          <p>Total value:
            <%= format_price(@line_items.first.product.currency, get_final_price(@line_items)) %>
          </p>
          <span>Total items: <%= @line_items.total_items %></span>
        <% end %>
      </blockquote>
    </div>
  </div>

  <% @line_items.each do |line_item| %>
    <%= render 'line_item', line_item: line_item %>
  <% end %>
</div>
