<div class="container">
  <h1>Success!</h1>
  <p>You just bought my stuff!</p>
  <h2>Your total was <%= format_price(@session.currency, @session.amount_total) %></h2>
  <br/>
  <% @line_items.each do |item| %>
    <h4><%= item.description %></h4>
    <p><%= format_price(item.price.currency, item.price.unit_amount) %></p>
    <% product = Stripe::Product.retrieve(item.price.product) %>
    <% if product.images.present? %>
      <%= image_tag(product.images.first, width: 300) %>
    <% end %>
  <% end %>
</div>